.Topic{
    padding: 10px 15px;
    border-bottom: 1px solid var(--lineColor);
}

.TopicCategory {
    font-size: 13px;

    color: #96A3AE;

    margin-bottom: 3px;
}

.TopicName {
    font-weight: 700;
    margin-bottom: 5px;
}

.TopicCounter {
    font-size: 13px;

    color: #96A3AE;
}