.Footer {
    width: calc(100% - 30px); 
    height: 84px;
    outline: 2px solid teal;

    font-size: 13px;
    padding: 10px 15px;
}

.NavList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    
    height: 84px;

   
  
}

.NavItem {
    margin-right: 20px;
    margin-bottom: 15px;
}

.NavLink {

    text-decoration: none;
    color: rgb(101, 119, 134);
}

.NavItem:hover .NavLink {
    text-decoration: underline;
}