.About {
    grid-area: about;
    border-bottom: 1px solid var(--lineColor);
    border-right: 1px solid var(--lineColor);
    border-left: 1px solid var(--lineColor)
}

.BackToHomePanel {
    display: flex;
    align-items: center;

    margin: 10px 10px;
    
}

.ToHome {
    display: inline-flex;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    
    margin-right: 10px;

    justify-content: center;
    align-items: center;

    
}

.ToHome:hover {
    background-color: var(--bgItemColor);
}

.UserName {
    font-size: 19px;
    font-weight: 700;
    height: 26px;
}

.UserTweets {
    font-size: 13px;
    color: rgb(101, 119, 134);
}

.Profile {
    position: relative;
}

.BackgroundImage {
    height: 200px;
    background-color: #CCD6DD;
    background-repeat: no-repeat;
}

.Info {
   

    
}


.Avatar {
    position: absolute !important;
    top: 130px;
    left: 20px;

    width: 120px !important;
    height: 120px !important;
}

.UserInfo {
    position: relative;

    margin-top: 55px;
    padding-left: 25px;
}

.FollowBtn {
    position: absolute;
    top: 0;
    right: 20px;

    width: 120px;
}

.Name {
    font-size: 19px;
    font-weight: 700;
    height: 26px;
}

.NickName {
    font-size: 15px;
    color: rgb(101,119,134);

    margin-bottom: 7px;
}

.Register {
    display: flex;
    align-items: center;

    font-size: 15px;
    color: rgb(101,119,134);

    margin-bottom: 15px;
}

.Register > div {
    margin-left: 10px;
}

.FollowInfo {
    display: flex;
    align-items: center;

    font-size: 15px;
    color: rgb(101,119,134);
}

.FollowInfo > div:nth-of-type(n):not(:last-child) {
    margin-right: 15px;
}

.FollowCounter, .FollowersCounter {
    color: black;
    font-weight: 700;
}

.Loading {

    position: absolute;
    top: 0;
    right: 20px;

    width: 100px;

}