.Grid {
    display: grid;

    grid-template: "menu about  ."  70px
                   "menu about  ."  auto
                   "menu feed   ."  1fr /  minmax(100px, 1fr) minmax(300px, 3fr) 1.2fr;

    overflow: auto;

    height: 100%;

}


@media (min-width: 1000px) {
    .Grid {
    
        grid-template:  "menu about  other"  auto
                        "menu feed  other"   auto
                        "menu feed   other"   auto  / minmax(100px, 1fr) 1.5fr 1.2fr ;
        
    }     


}
   