.Grid {
    display: grid;

    grid-template:  "menu header ."  70px
                    "menu tweet  ."   auto
                    "menu feed   ."   3fr   / minmax(100px, 1fr) minmax(300px, 3fr) 1.2fr ;
     

    overflow: auto;

    height: 100%;
    
}     

@media (min-width: 1000px) {
    .Grid {
       
        /* grid-template-columns:  100px  1fr 1fr ;
        grid-template-rows: 70px 250px 1fr; */
     
        grid-template:  "menu header other"  auto
                        "menu tweet  other"   auto
                        "menu feed   other"   1fr   / minmax(100px, 1fr) 1.5fr 1.2fr ;
        
    }    
}
