.Login {
   
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 0;
}

.Login > *:not(:last-child) {
    margin-right: 15px;
}

/* .login-button {

    padding: 9px 15px  ;

    border: 1px solid var(--borderButtonColor);
    border-radius: 20px;

    font-weight: 700;
    font-size: 15px;
   

    color: var(--primaryColor);

    background-color: #fff;

    cursor: pointer;

    transition: background-color 0.1s linear;
}


.login-button:hover {
    background-color: rgba(29, 161, 242, 0.1);
   
} */

.Label {

    background-color: #F5F8FA;

    color: #657786;

}

.LabelText {
    padding: 5px 10px;
}

.Label:focus-within {
    color: var(--borderButtonColor);
}


