
.Other {
    display: none;
}


@media (min-width: 1000px) {
    .Other {
        grid-area: other;
        display: block;

        padding: 10px;
        padding-left: 20px;

        /* border-left: 1px solid var(--lineColor) */

      
    }
}

