.Label {

    background-color: #F5F8FA;

    color: #657786;

}

.LabelText {
    padding: 5px 10px;
}

.Label:focus-within {
    color: var(--borderButtonColor);
}


.Input {
    height: 30px;
    font-size: 18px;
    color: #14171A; 
    padding: 0 10px;
    border: none;
    border-bottom: 2px solid grey  ;

    background-color: #F5F8FA;
}

.Input:focus {
    outline: none;
}

.Input:focus  {
   border-bottom-color: var(--borderButtonColor);
}


